.hoTalk {
  margin: 0 auto;
  width: 150px;
}

form {
  display: flex;
  flex-direction: column;
}

.btnWrap {
  display: flex;
  margin: 30px auto;
}

.googleBtn {
  margin: 0 10px;
  display: block;
  padding: 10px;
  width: 140px;
  border: none;
  border-radius: 3px;
}

.btnBottom {
  color: rgb(202, 200, 200);
  text-decoration: none;
  font-size: 13px;
}

.btnBottom:hover {
  color: rgb(75, 73, 73);
  text-decoration: none;
  font-size: 13px;
}
